project_id="name-project"
env_name="develop"
region="europe-west3"
zone="europe-west3-a"

# S3 bucket
tf_state_bucket_name="name-storage"

# Storage CDN
# cdn_bucket="cdn"
# cert_name="name-certificate"

# VPC
vpc_range="10.10.0.0/16"
vpc_subnet_range_1="10.20.0.0/16"
vpc_subnet_range_2="10.30.0.0/16"
vpc_serverless_range="10.40.1.0/28"

# GKE
gke_cluster_version="1.24.7-gke.900"
k8s_master_ipv4_cidr_block="10.40.2.0/28"
cluster_name="name-cluster"
gke_num_nodes=1
gke_num_node_pool=1
gke_machine_type="n2-standard-2"
disk_size=25

# Redis
redis_version="REDIS_6_X"
# Read replicas are only supported on instance sizes 5GB and above
redis_ram_size_gb="5"
redis_replica="1"

# GCB
# name repositories https://source.cloud.google.com/funtico-second-env
repo_name="repository name"
repo_name_games="repository name games"
branch_name="master or develop"
angular_build_env="master"

# SQL
names_vm_sql=["db-data", "db-history"]
gcs_machine_type="db-n1-standard-1"
disk_size_sql="100"

# Secret manager data
BUCKET_HOST="https://storage.googleapis.com"
CLIENT_FE_BASE_URL="https://gamefuntico.com"

# SQL funtico-audit
DB_AUDIT_HOST="IP"
DB_AUDIT_USERNAME="user"
DB_AUDIT_PASSWORD="password"
DB_AUDIT_DATABASE="DB_name"

# SQL funtico-data
DB_MASTER_HOST="IP"
DB_MASTER_USERNAME="user"
DB_MASTER_PASSWORD="password"
DB_MASTER_DATABASE="DB_name"
DB_SLAVE_HOST="IP"
DB_SLAVE_USERNAME="user"
DB_SLAVE_PASSWORD="password"
DB_SLAVE_DATABASE="DB_name"

# SQL funtico-history
DB_HISTORY_HOST="IP"
DB_HISTORY_USERNAME="user"
DB_HISTORY_PASSWORD="password"
DB_HISTORY_DATABASE="DB_name"
DB_SLAVE_HISTORY_HOST="IP"
DB_SLAVE_HISTORY_USERNAME="user"
DB_SLAVE_HISTORY_PASSWORD="password"
DB_SLAVE_HISTORY_DATABASE="DB_name"
# ReadOnly User file: history_read_only_user.sql
# RO_USERNAME="user"
# RO_PASSWORD="password"

EURO_EXCHANGE_RATES_URL=""
FUNTICO_WEBHOOK_IP_WHITELIST="[\"IP\",\"IP\",\"IP\"]"
GAME_URL_DOMAIN="https://gamefuntico.com"
HISTORY_DOMAIN="https://gamefuntico.com/"
JWT_QUERY_SECRET=""
JWT_SECRET=""
OPERATORS="[\"funtico\"]"
RABBITMQ_HOST="IP"
RABBITMQ_USERNAME="user"
RABBITMQ_PASSWORD="password"
REDIS_HOST="IP"
STALE_TOKEN_THRESHOLD_SEC=""
SYSTEM_LOG_LEVEL="debug"
